
.img-container {
    text-align: center;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 10% 10% 10% 10%;
    padding: 100%;
    box-shadow: 7px 7px 7px 7px rgba(237, 131, 26, 0.878);
  
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

  }
  .img-container img {
    width: 80%;
    height: auto;

  }
    

  h1 {
    background-color: lime;
    padding: 20px 50px;
  }
  
  h2 {
    background-color: cyan;
    padding: 110px 50px 50px 110px;
  }