
<section class="articles">
  <article>
    <div>
      <figure>
        <img src="https://picsum.photos/id/1011/800/450" alt="" />
      </figure>
      <div class="article-body">
        <h2>This is some title</h2>
        <p>
          Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod
          sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta.
          Vestibulum ultrices iaculis enim imperdiet egestas.
        </p>
        <a href="#">
          Read more <span >about this is some title</span>
        </a>
      </div>
    </div>
  </article>
</section>
