<!DOCTYPE html>
<html>

<body>
  <section class="articles">
  <article>
  
    <div>
  <h1>
      <figure>
        <img src="./assets/koo.jpg">
      </figure>
    </h1>
      <div class="article-body">
        <h2><title>Garfield - La historia de un gato perezoso</title></h2>
        <h2>Sobre Garfield</h2>
        <p>
          A lo largo de los años, Garfield se ha convertido en un personaje icónico, apareciendo en tiras cómicas, programas de televisión y películas. 
          El éxito de Garfield se debe en parte a su personalidad cómica y sarcástica, así como a su amor por la comida.
        </p>
        <h2>Películas de Garfield</h2>
			<p>Garfield ha aparecido en varias películas, incluyendo "Garfield: la película" (2004) y "Garfield 2" (2006). 
        Ambas películas combinaron animación con acción en vivo y fueron bien recibidas por el público.</p>
        <a href="#">
         
        </a>
      </div>
    </div>
  </article>
</section>
</body>
</html>