
.img-container {    

    background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  
      }
  .img-container img {
    
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 20px;
    box-shadow: 0 0 20px orange;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
    transform: scale(var(--img-scale));
}


  @media only screen and (max-width: 576px) {
    .img-container img {
      max-width: 80%;
    }
  }
  @media only screen and (max-width: 576px) {
    .img-container {
      background-size: contain;
      background-position: top;
    }
  }

  @media only screen and (max-width: 768px) {
    .img-container img {
      max-width: 100%;
    }
  }
  @media only screen and (max-width: 768px) {
    .img-container {
      background-size: contain;
      background-position: top;
    }
  }

    .contenedor {
        background-color: gray;
        padding: 40px;
        border-radius: 10px;
    
    }
 
    h1, h2, p {
        transition: transform 0.3s ease-in-out;
      }
      
      h1:hover, h2:hover, p:hover {
        transform: scale(1.05);
      }
  h1 {
    background-color: lime;
    padding: 20px 50px;
    border-radius: 10px;
  }
  
  h2 {
    background-color: cyan;
    padding: 90px 50px 50px 90px;
    border-radius: 10px;
  }
  p {
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
  }
  @media only screen and (max-width: 576px) {
    .contenedor {
      max-width: 80%;
    }
  }
  @media only screen and (max-width: 576px) {
    .contenedor {
      background-size: contain;
      background-position: top;
    }
  }

  @media only screen and (max-width: 768px) {
    .contenedor {
      max-width: 100%;
    }
  }
  @media only screen and (max-width: 768px) {
    .contenedor {
      background-size: contain;
      background-position: top;
    }
  }
